* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: rgb(46, 141, 141);
    height: 100%;
}
.extra-features,
.game-container {
    margin: 50px auto 25px;
    width: fit-content;
    padding: 20px;
}

.top-panel {
    height: 50px;
}

.top-panel > *, .extra-features>* {
    display: inline-block;
    border: 1px solid #000000;
    padding: 5px;
    height: 40px;
    line-height: 25px;
    position: relative;
}

.main-border {
    border: 5px solid;
    border-color: #074761 #d4f7f7 #254b4b #cee3e8;
    box-sizing: border-box;
}

.main-border-inverted {
    background-color:#bfc0c531;
    border: 5px solid;
    border-color: #7c8a76 #4d6268 #77b3b8 #7c8a76;
    box-sizing: border-box;
}

.cell {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.cell:hover{
    filter: brightness(85%);
}

.levels{
    text-align: center;
    background-color:#bfc0c531;
    border: 5px solid;
    border-color: #7c8a76 #4d6268 #77b3b8 #7c8a76;
    box-sizing: border-box;
    

}
/* .easy-level{
    color: beige;
    height: 20px;
    width: 40px;

}
.medium-level{
    color: beige;
    height: 20px;
    width: 40px;
}
.hard-level{
    color: beige;
    height: 20px;
    width: 40px;
} */